@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
	width: 12px !important;
	height: 4px !important;
	border-radius: 0 !important;
	background-color: #00ff01 !important;
}

.swiper-pagination-bullet {
	width: 12px !important;
	height: 4px !important;
	border-radius: 0 !important;
}

#nprogress .bar {
	background: #00ff01;
}

@layer components {
	.shop-container {
		@apply mx-8;
	}
}

.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}
